<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>PiLock</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>

    <!--AngularFire-->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <script src="../js/app.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<header>
    <div class = "navbar-fixed">
        <nav class="orange darken-2" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo center">Login</a>
                <ul id="nav-history" class="right hide-on-med-and-down">
                    <li class="active"><a href="login.html"><i class="material-icons left">assignment_ind</i>Login</a></li>
                </ul>
                <ul id="nav-home" class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons left">add</i>Sign-Up</a></li>
                </ul>
                <a id="nav-mobile-button" href="#" data-activates="nav-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
    </div>
    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <div class="user-view orange darken-2">
            <div class="valign-wrapper"><h3 class="header white-text light">Pi-Locker</h3></div>
        </div>
        <li><a href="#"><i class="material-icons">add</i>Sign-Up</a></li>
        <li class="active"><a href="login.html"><i class="material-icons">assignment_ind</i>Login</a></li>
    </ul>
</header>
<main>
    <body ng-app = "PiLock">
    <!-- Nav bar -->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <!-- Main Heading -->
            <h1 id="lock-heading" class="header center orange-text">Remote Locking</h1>

            <div class="row center">
                <h5 id="lock-description" class="header col s12 light">Unlock and Lock your locker remotely with ease</h5>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s4 center-align">
                    <i class="material-icons prefix">email</i>
                    <input id="email_field" type="text" class="validate">
                    <label for="email_field">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s4 center-align">
                    <i class="material-icons prefix">security</i>
                    <input id="password_field" type="password" class="validate"
                           onkeyup="if (event.keyCode == 13)
                        				document.getElementById('login-button').click()"
                    />
                    <label for="password_field">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align" ng-controller="loginController">
                    <button id="login-button" class="btn deep-orange" type="submit" name="action" ng-click="emailSignIn()">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <h5 id="login-error" class="header col s12 light red-text hide">The password that you have entered does not match!</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align hide" id="loading-circle">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

        </div>
    </div>

    <!--  Scripts-->

    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
    </body>
</main>


<footer class="page-footer orange darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">Pi-Locker is a web-app that allows you to remotely unlock or lock your locker from anywhere at anytime..</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Team</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/mikhailamod">Mikhail Amod</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/FBDuToit">Francois Du Toit</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/AdamKaliski">Adam Kaliski</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Tadi Mazara</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/JustOmondi">Omondi Ochieng</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Mohamed Zahier Parker</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017
        </div>
    </div>
</footer>
</html>