<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>PiLock - Logs</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>

    <!--AngularFire-->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <script src="js/app.js"></script>
</head>

<body ng-app = "PiLock">
<!-- Nav bar -->
<nav class="orange darken-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo center">Pi-Locker</a>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="logs-left">

        </div>
        <div class="logs-right">

        </div>
    </div>
</div>

<!--  Scripts-->

<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>
</body>

<footer class="page-footer orange darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">Pi-Locker is a web-app that allows you to remotely unlock or lock your locker from anywhere at anytime..</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Team</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/mikhailamod">Mikhail Amod</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/FBDuToit">Francois Du Toit</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/AdamKaliski">Adam Kaliski</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Tadi Mazara</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/JustOmondi">Omondi Ochieng</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Mohamed Zahier Parker</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 PiLock
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
</html>