<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Sign Up - Pi-Locker</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

	<!--AngularFire-->
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

	<script src="../js/app.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<header>
	<div class = "navbar-fixed">
		<nav class="orange darken-2" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="#" class="brand-logo center">Pi-Locker</a>
				<ul id="nav-sign-in" class="right hide-on-med-and-down">
		        	<li><a href="login.html"><i class="material-icons left">history</i>Sign-In</a></li>
		      	</ul>
		      	<a id="nav-mobile-button" href="#" data-activates="nav-mobile" class="button-collapse">
        			<i class="material-icons">menu</i>
        		</a>
			</div>
		</nav>
	</div>
	<ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
	    <div class="user-view orange darken-2">
	      <div class="valign-wrapper"><h3 class="header white-text light">Pi-Locker</h3></div>
	    </div>
	    <li class="active"><a href="#"><i class="material-icons">mode_edit</i>Sign-Up</a></li>
	    <li><a href="login.html"><i class="material-icons">history</i>Login</a></li>
	 </ul>
</header>

<main>
	<body ng-app = "PiLock">
	<!-- Nav bar -->
	
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<!-- Main Heading -->
				<h2 id="lock-heading" class="header center orange-text hide-on-small-only">Sign Up</h2>
				<h3 id="lock-heading-mobile" class="header center orange-text hide-on-med-and-up">Sign Up</h3>

				<div class="row center">
					<h5 id="lock-description" class="header col s12 light hide-on-small-only">Sign-up for Pi-Locker and experience fluid and instant control of your locker.</h5>
					<h6 id="lock-description" class="header col s8 offset-s2 light hide-on-med-and-up">Sign-up for Pi-Locker and experience fluid and instant control of your locker.</h6>
				</div>
			<div class="row">
				<div class="input-field col s8 m5 l4 offset-s2 offset-m3 offset-l4 center-align">
					<i class="material-icons prefix">email</i>
					<input id="email_field" type="text" class="validate">
					<label for="email_field">Enter your email here</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s8 m5 l4 offset-s2 offset-m3 offset-l4 center-align">
					<i class="material-icons prefix">security</i>
					<input id="password_field" type="password" class="validate"/>
					<label for="password_field">Enter your password here.</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s8 m5 l4 offset-s2 offset-m3 offset-l4 center-align">
					<i class="material-icons prefix">security</i>
					<input id="password_field_confirm" type="password" class="validate"
							onkeyup="if (event.keyCode == 13)
                        				document.getElementById('login-button').click()"
                    />
					<label for="password_field_confirm">Re-enter your password here.</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center-align" ng-controller="lockController">
					<h5 id="sign-in-error" class="header col s12 light red-text hide">The password that you have entered does not match!</h5>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 center-align" ng-controller="lockController">
					<button id="login-button" class="btn deep-orange" type="submit" name="action" ng-click="emailSignIn()">Sign-Up!</button>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center-align hide" id="loading-circle">
					<div class="preloader-wrapper big active">
			    <div class="spinner-layer spinner-red-only">
			      <div class="circle-clipper left">
			        <div class="circle"></div>
			      </div><div class="gap-patch">
			        <div class="circle"></div>
			      </div><div class="circle-clipper right">
			        <div class="circle"></div>
			      </div>
			    </div>
			  	</div>
				</div>
			</div>
			<br><br>

			</div>
		</div>
	
  <!--  Scripts-->

	<script src="../js/materialize.js"></script>
	<script src="../js/init.js"></script>
  </body>
</main>


  <footer class="page-footer orange darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">Pi-Locker is a web-app that allows you to remotely unlock or lock your locker from anywhere at anytime.
                It was developed by a group of 6 students during their internship at Aliens - the mobile development office of Barclays Africa Group Limited.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Team</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/mikhailamod">Mikhail Amod</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/FBDuToit">Francois Du Toit</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/AdamKaliski">Adam Kaliski</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Tadi Mazara</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/JustOmondi">Omondi Ochieng</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Mohamed Zahier Parker</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017
            </div>
          </div>
    </footer>
</html>